@import "../../../styles/variables.scss";

#sidebar {
    /* Full width of the sidebar */
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    // background-color: $background-color;
}

#sidebar.open {
    /* Full width of the sidebar */
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    /* Move the sidebar to the right */
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    -moz-box-shadow: -3px 0 5px 0 #555;
    -webkit-box-shadow: -3px 0 5px 0 #555;
    box-shadow: -3px 0 5px 0 #555;
}