$main-font: 'Fredoka One', sans-serif;

$light-green: #a3cb3b;
$dark-green: #0c1c14;
$light-purple: #ae59a0;
$green: #000000;
$light-beige: #cbbba3;
$dark-beige: #66624c;
$dark-purple: #6d386c;

$primary-color: $green;
$background-color: $light-beige;